div{
    margin-bottom: 5px;
}
.cardContainer {
    margin: 5px auto;
    width: 190px;
    /*box-sizing: border-box;*/
    height: fit-content;
    overflow: auto;
    background-color: deepskyblue;
    color: white;

    text-align: left;
    padding: 8px;
    border-radius: 5px;
}

.buttonsSection {
  position: relative;
    margin-bottom: 25px;
}

.delButton {
    background-color: deepskyblue;
    border-radius: 5px;
    color: white;
    border: 1px solid white;

    position: absolute;
    right: 0;
}

.editButton {
    background-color: deepskyblue;
    color: white;
    position: absolute;
    left: 0;
    border-radius: 5px;
    border: 1px solid white;
}

.delButton:hover {
    background-color: orangered;
}
.editButton:hover{
    background-color: darkseagreen;
}